.header{
    height: 250px;
    padding: 20px;
    background: url("../../assests/endless-constellation.svg");
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 10px;
    h1{
        color: #fff;
        width: auto;
    }
    p{
        color: #fff;
    }
}